{% extends 'GrtResBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/all-checkbox.js') }}"></script>
{% endblock %}

{% block namepage %}
    <p style="text-align: right;"><a href="{{ path('grt_ldap_choice') }}"><i class="fa fa-reply-all"></i>&nbspВернуться</a></p>
    <h3>
        Список пользователей &nbsp{{ location.name }} отдел {{ department.name }}
    </h3>

{% endblock %}

{% block body %}

    {% if ldapUsers %}
        <form name="ldapform" action="{{ path('grt_upload_ldap_user',{ 'locationId': location.id,'departmentId': department.id}) }}" method="POST">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="total" id="check_all">Отметить все</th>
                            <th>Фамилия Имя Отчество</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for ldapUser in ldapUsers %}
                        {% if ldapUser.attribute('sAMAccountName') is not null %}
                            <tr>
                                <td><input type="checkbox" name="users[]" value="{{ ldapUser.attribute('sAMAccountName')|join(', ')}}" class="checkbox"> </td>
                                <td>{{ ldapUser.attribute('displayName')|join(', ')}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <p>
                    <input type="submit" value="{% trans %}Загрузить в БД{% endtrans %}" class="btn btn-default">
                </p>
        </form>
    {% else %}
        <p>{% trans %}There are no users{% endtrans %}</p>
    {% endif %}

    {% for error_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endfor %}



{% endblock %}
