{% extends 'GrtResBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/form_style.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/form.js') }}"></script>
    <script src="{{ asset('build/check-select.js') }}"></script>
{% endblock %}

{% block namepage %}
    <h3>
       Добавить ресурс пользователю  <a href="{{ path('grt_user_show', { 'userId': user.id }) }}" title="{% trans %}user{% endtrans %}">
            {{ user.firstname }}&nbsp {{ user.middlename }}&nbsp{{ user.lastname }}
        </a>
    </h3>
{% endblock %}

{% block body %}
    {% if resourceId is defined %}
        {{ form_start(form, { 'action': path('grt_create_resource', { 'userId': user.id, 'baseId': baseId, 'resourceId': resourceId}), 'method': 'POST', 'attr': {'class': 'resourceform'} }) }}
    {% else %}
        {{ form_start(form, { 'action': path('grt_create_resource', { 'userId': user.id, 'baseId': baseId}), 'method': 'POST', 'attr': {'class': 'resourceform'} }) }}
    {% endif %}

{#{{ form_widget(form) }}#}
     {% if form.ip is defined %}
        {{ form_row(form.ip) }}
     {% endif %}
     {% if form.login is defined %}
        {{ form_row(form.login) }}
     {% endif %}
     {% if form.term is defined %}
        {{ form_row(form.term) }}
     {% endif %}
    <label> Обоснование:</label>
    <div>
        <select id="cause" name="cause">
            <option selected value="delo">по САЭД "Дело"</option>
            <option value="file">из файла</option>
        </select>
    </div>
    {% if form.annotation is defined %}
        {{ form_row(form.annotation) }}
     {% endif %}
     {% if form.docFile is defined %}
        {{ form_row(form.docFile) }}
     {% endif %}

    <p>
        <input type="submit" value="{% trans %}Submit{% endtrans %}" class="btn btn-default">
    </p>

    {% for error_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endfor %}


{% endblock %}

